.cashflow-wrapper {
  .cashflow-filter {
    // padding: 10px;
    // 卡片标题和单位样式titieWrap
  }

  // 现金总流入、出样式
  .cardWraper {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 360px;

    // 底部数据
    .cardButtom {
      height: 400px;
      display: flex;
      width: 100%;
      justify-content: space-around;
      align-items: center;
    }
  }

}