.holding-card-wrapper {
  .card-content {
    .table {
      height: 388px;
      padding: 8px;
      border: 1px solid #EEE;
      border-radius: 8px;
    }
    .chart {
      height: 388px;
      border: 1px solid #eee;
      border-radius: 8px;
    }
  }
  .card-extra {
    display: flex;
  }
}
